*{
    color: black;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
    font-style: normal;

}

.navbar{
    width: 100%;
    min-height: 100vh;
    background-image: url(gambar/island-moon-body-of-3840x2160-15995.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    top: 1% ;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.content{
    margin-left: 15%;
    margin-top: 11%;
}

.nama{
    font-weight:bold ;
    font-size: 600%;
    color: black;
    margin: 1%;


}
.nim{
    font-size: 130%;
    margin: 1%;

}

.foto{
    width: 24%;
    position: absolute;
    right: 15%;
    top: 25%;

}
.kucing{
    width: 3%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
    
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    
}

.materi{
    background-color: #8997b4;

}
    
.paragraf{
    margin-left: 10%;
    margin-right: 58%;
}
.sub-par{
    margin-left: 12%;
    margin-right: 59%;
}

.materi{
    background-color: white;


}
    
.tekx{
    text-align: center;
    padding: 4%;
    font-size: 60px;
}

.sub-par{
    margin-left: 12%;
    margin-right: 59%;
}

.submateri{
    background-color: #8997b4;
}

.isimateri{
    padding-left: 6%;

}


